<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face-detection</title>
    <script defer src="face-api.min.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="box">
    <form action="/face-recog" method="post" align="center">
        <div class="card-head">
           <div class="container">
            <h1> Employee Attendance System with Face Recognition</h1>
           </div>
         </div><br><br>

         <video id="video" width="600" height="450" autoplay></video>

         <div class="card" id="popup">
            <div class="container">
               <h3 id="nameofClient"> HARI PUTTAR </h3> 
               <button type="submit">OK</button>
            </div>
         </div>
    </form>
   </div>
   
  
</body>
</html>