<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
   <div class="box">
    <form action="/" method="get" align="center">
        <div class="card-head">
           <div class="container">
            <h1> Employee Attendance System with Face Recognition</h1>
           </div>
         </div><br><br>
         <h2>Get Started with 3 basic steps (please donot miss the steps)</h2><br><br>

         <div class="card">
            <div class="container">
                <h2> (1.) Register Yourself</h2>
            </div>
            <a href="/register"><button type="button">CLICK HERE TO PROCEED</button></a><br>
         </div><br><br>

         <div class="card">
            <div class="container">
                <h2> (2.) Add Your Face Details</h2>
            </div>
            <a href="/face-det"><button type="button">CLICK HERE TO PROCEED</button></a><br>
         </div><br><br>

         <div class="card">
            <div class="container">
                <h2> (3.) Start Real-Time Face Recognition</h2>
            </div>
            <a href="/instruct"><button type="button">CLICK HERE TO PROCEED</button></a><br>
         </div><br>
         
    </form>
   </div>
</body>
</html>