<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
   <div class="box">
    <form action="/instruct" method="get" align="center">
        <div class="card-head">
           <div class="container">
            <h1> Employee Attendance System with Face Recognition</h1>
           </div>
         </div><br>
         <h2>Please read the Instructions carefully</h2><br>

         <div class="card">
            <div class="container">
                <h2> (1.) Place your Face properly in front of a good light source </h2>
            </div>
           <br><br><br><br>

         <div class="card">
            <div class="container">
                <h2> (2.) Keep your system and your face stable somewhere </h2>
            </div>
            <br><br><br><br>

         <div class="card">
            <div class="container">
                <h2> (3.) Wait until the model marks your Attendance . If nothing happens go back to home and run the model again</h2>
            </div>
           <br><br>
           <a href="/face-recog"><button type="button">CLICK HERE TO PROCEED</button></a><br>
         
    </form>
   </div>
</body>
</html>