<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
   <div class="box">
    <form action="/register" method="post" align="center">
        <div class="card-head">
           <div class="container">
            <h1> Employee Attendance System with Face Recognition</h1>
           </div>
         </div><br><br>
         <h2>Get Yourself Registered</h2><br>

         <div class="card">
            <div class="container">
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter Email" name="email" id="email" required>
            
                <label for="psw"><b>First Name</b></label>
                <input type="text" placeholder="Enter your first name" name="firstname" id="psw" required>
            
                <label for="psw-repeat"><b>Last Name</b></label>
                <input type="text" placeholder="Enter your last name" name="lastname" id="psw-repeat" required>
                <hr>
            
                <p>By registering you agree to our <a href="#">Terms & Privacy</a>.</p>
                <button type="submit" class="registerbtn">Register</button><br>
                <a href="/"><button type="button" class="homebtn">HOME</button></a>
              </div>
            </div>
           <br>
         </div><br>
    </form>
   </div>
</body>
</html>